body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--color-bg-main);
	font-family: 'League Spartan', 'sans-serif';
	margin: 0;
}

.calculator {
	height: 92dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text-light);
}

.header_title {
	font-size: 2.5rem;
}

.header_left {
	display: flex;
	align-items: center;
	gap: 15%;
}

.header_theme {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.display {
	background-color: var(--color-bg-screen);
	color: var(--color-text-light);
	font-size: 2rem;
	text-align: right;
	padding: 20px;
	border-radius: 12px;
}

.buttons {
	background-color: var(--color-bg-keypad);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 20px;
	border-radius: 10px;
}

.btn {
	color: var(--color-text-dark);
	text-align: center;
	background-color: var(--color-key-bg-tertiary);
	border-radius: 5px;
	padding: 20px 15px;
	font-size: 2rem;
	cursor: pointer;
	box-shadow: inset 0px -5px 0px 0px var(--color-key-shadow-tertiary);
}

.btn.del {
	font-size: 1.2rem;
	background-color: var(--color-key-bg-primary);
	color: var(--color-text-light);
	box-shadow: inset 0px -5px 0px 0px var(--color-key-shadow-primary);
}

.btn.reset {
	font-size: 1.2rem;
	grid-column: span 2;
	background-color: var(--color-key-bg-primary);
	color: var(--color-text-light);
	box-shadow: inset 0px -5px 0px 0px var(--color-key-shadow-primary);
}

.btn.equals {
	grid-column: span 2;
	background-color: var(--color-key-bg-secondary);
	color: var(--color-text-light);
	box-shadow: inset 0px -5px 0px 0px var(--color-key-shadow-secondary);
}
